@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717; /* neutral-900 */
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Minimalist scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #404040; /* neutral-700 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525252; /* neutral-600 */
}
